.reflvl__body {
	margin-top: 42px;
	display: flex;
	position: relative;
}

.reflvl__body>*+* {
	margin-left: 24px;
}

.reflvl__progress {
	width: 100%;
	height: 8px;
	border: 1px solid #484848;
	border-radius: 9px;
	position: absolute;
	top: 109px;
}

.reflvl__progress span {
	background: linear-gradient(90.01deg, #c29c58 17.1%, #fcebcd 44.94%, #c29c58 74.85%);
	border-radius: 9px;
	display: block;
	height: 100%;
}

.reflvl__thead {
	padding-top: 15px;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
}

.reflvl__thead span {
	display: block;
	white-space: nowrap;
}

.reflvl__thead span:nth-child(2) {
	margin-top: 27px;
}

.reflvl__thead span:nth-child(3) {
	margin-top: 81px;
}

.reflvl__step {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 87px;
	padding-top: 15px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 25px;
	position: relative;
}

.reflvl__step::before {
	content: "";
	width: 1px;
	height: 26px;
	background: #484848;
	position: absolute;
	left: 50%;
	top: 100px;
	transform: translateX(-50%);
}

.reflvl__step._active {
	background: linear-gradient(116.66deg, rgba(41, 41, 41, 0.6) 19.73%, rgba(41, 41, 41, 0.414) 81.89%);
	box-shadow: 0px 4px 73px #000000;
	border-radius: 10px;
}

.reflvl__step._active span:first-child {
	white-space: pre-wrap;
	margin-top: -5px;
	height: 20px;
}

.reflvl__step>span {
	display: block;
	white-space: nowrap;
}

.reflvl__step>span:first-child {
	text-transform: uppercase;
	height: 15px;
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	text-shadow: 0px 25px 21px rgba(228, 201, 149, 0.1);
}

.reflvl__step>span:nth-child(2) {
	margin-top: 27px;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
}

.reflvl__step>span:nth-child(3) {
	margin-top: 81px;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	text-shadow: 0px 25px 21px rgba(228, 201, 149, 0.14);
	display: flex;
	align-items: center;
}

.reflvl__step>span:nth-child(3) img {
	width: 11px;
	height: 11px;
	margin-left: 4px;
}

.reflvl__step>span:nth-child(4) {
	margin-top: 21px;
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	color: #858585;
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
}

.reflvl__step>span:nth-child(4) img {
	width: 20px;
	height: 20px;
}

.reflvl__step>span:nth-child(4)>span:first-child {
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	color: #858585;
}

.reflvl__step>span:nth-child(4)>span:nth-child(2) {
	margin-top: 5px;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	text-shadow: 0px 25px 21px rgba(228, 201, 149, 0.14);
}