.grey-block {
	background: linear-gradient(
		118.17deg,
		rgba(41, 41, 41, 0.6) 19.54%,
		rgba(41, 41, 41, 0.372) 87.61%
	);
	box-shadow: 0px 4px 73px #000000;
	border-radius: 10px;
}

.grey-block-dark {
	background: linear-gradient(
		118.17deg,
		rgba(41, 41, 41, 0.6) 19.54%,
		rgba(41, 41, 41, 0.306) 87.61%
	);
	box-shadow: 0px 4px 73px #000000;
	border-radius: 10px;
}

.grey-block-dark-414 {
	background: linear-gradient(
		116.66deg,
		rgba(41, 41, 41, 0.6) 19.73%,
		rgba(41, 41, 41, 0.414) 81.89%
	);
	box-shadow: 0px 4px 73px #000000;
	border-radius: 10px;
}

.cabinet__title {
	font-size: 20px;
	line-height: 23px;
	text-transform: uppercase;
}

.cabinet__title > *.gold {
	font-weight: 300;
}

.cabinet__title_36 {
	font-size: 36px;
	line-height: 42px;
	background: linear-gradient(
		92.35deg,
		#b48a3d 9.32%,
		#fcecce 50.74%,
		#ccab6c 95.84%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.cabinet {
	min-width: 1660px;
	background-image: url('../img/cabinet/mountains-bg.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 100% 97%;
}

.cabinet__wrapper {
	width: 1660px;
	padding: 0 15px;
	display: grid;
	grid-template: 1fr/210px 1fr;
	column-gap: 33px;
	margin: 0 auto;
	padding-top: 20px;
}

.reflvl__top {
	display: flex;
	align-items: center;
}

.reflvl__top li span {
	font-size: 20px;
	line-height: 23px;
	text-transform: uppercase;
}

.reflvl__top li span:nth-child(2) {
	margin-left: 5px;
	font-weight: 300;
	text-shadow: 0px 25px 21px rgba(228, 201, 149, 0.14);
}

.reflvl__top li + li {
	margin-left: 42px;
}

.reflvl__wrapper {
	padding: 33px 36px;
}

.cabinet__logo {
	margin: 100px auto 0 auto;
	width: 201.62px;
	height: 66.67px;
	display: block;
}

.cabinet__logo img {
	width: 100%;
	height: 100%;
}
