@charset "UTF-8";

@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url('../fonts/Gilroy-Black.woff2') format('woff2'),
		url('../fonts/Gilroy-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
		url('../fonts/Gilroy-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url('../fonts/Gilroy-SemiBold.woff2') format('woff2'),
		url('../fonts/Gilroy-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url('../fonts/Gilroy-Light.woff2') format('woff2'),
		url('../fonts/Gilroy-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
		url('../fonts/Gilroy-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: MazzardH;
	font-display: swap;
	src: url('../fonts/MazzardH-Regular.woff2') format('woff2'),
		url('../fonts/MazzardH-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: MazzardH;
	font-display: swap;
	src: url('../fonts/MazzardH-Medium.woff2') format('woff2'),
		url('../fonts/MazzardH-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
	scrollbar-color: linear-gradient(
			90.01deg,
			#c29c58 17.1%,
			#fcebcd 44.94%,
			#c29c58 74.85%
		)
		#484848;
	scrollbar-width: auto;
}

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: transparent;
	border: 1px solid #484848;
}

*::-webkit-scrollbar-thumb {
	background: linear-gradient(
		90.01deg,
		#c29c58 17.1%,
		#fcebcd 44.94%,
		#c29c58 74.85%
	);
	border-radius: 9px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	color: #fff;
	line-height: 1;
	font-family: 'Gilroy';
	font-size: 1.125rem;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
	font-family: 'Gilroy';
	font-size: inherit;
}

input:-webkit-autofill {
	transition: all 0s 50000s;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}

a {
	color: inherit;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	background: #000;
}

.lock body {
	overflow: hidden;
	touch-action: none;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-width: 0;
}

.wrapper > main {
	flex: 1 1 auto;
}

.wrapper > * {
	min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*='__container'] {
	max-width: 71.25rem;
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 0.9375rem;
}

.button {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 28px;
	white-space: nowrap;
	font-family: MazzardH;
	text-transform: uppercase;
	/* .button_transparent */
}

.button_gold {
	color: #202020;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	background-image: linear-gradient(
		92.35deg,
		#b48a3d 9.32%,
		#fcecce 50.74%,
		#ccab6c 95.84%
	);
	background-color: transparent;
	box-shadow: 0px 25px 21px rgba(228, 201, 149, 0.14);
	border-radius: 12px;
	position: relative;
	transition: opacity 0.3s;
}

@supports (
	height: clamp(2.8125rem, 2.6713235294rem + 0.7058823529vw, 3.1875rem)
) {
	.button_gold {
		height: clamp(2.8125rem, 2.6713235294rem + 0.7058823529vw, 3.1875rem);
	}
}

@supports not (
	height: clamp(2.8125rem, 2.6713235294rem + 0.7058823529vw, 3.1875rem)
) {
	.button_gold {
		height: calc(2.8125rem + 0.375 * (100vw - 20rem) / 53.125);
	}
}

.button_gold:before {
	border-radius: inherit;
	background-image: linear-gradient(
		160deg,
		#a67a28 9.32%,
		#fcecce 50.74%,
		#be9240 95.84%
	);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	z-index: -100;
	transition: opacity 1s;
}

@media (any-hover: hover) {
	.button_gold:hover {
		z-index: 100;
	}

	.button_gold:hover:before {
		animation: button 0.5s;
	}
}

.button_gold:active,
.button_gold:focus {
	z-index: 100;
}

.button_gold:active:before,
.button_gold:focus:before {
	animation: button 0.5s;
}

.button_transparent {
	background: linear-gradient(
		92.35deg,
		#b48a3d 9.32%,
		#fcecce 50.74%,
		#ccab6c 95.84%
	);
	border-radius: 12px;
	padding: 1px;
	height: 51px;
	width: max-content;
}

@media (any-hover: hover) {
	.button_transparent:hover > div {
		background: transparent;
	}

	.button_transparent:hover > div span {
		color: #000;
		background: none;
		-webkit-background-clip: unset;
		-webkit-text-fill-color: unset;
	}
}

.button_transparent:active > div,
.button_transparent:focus > div {
	background: transparent;
}

.button_transparent:active > div span,
.button_transparent:focus > div span {
	color: #000;
	background: none;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.button_transparent > div {
	border-radius: 12px;
	width: 100%;
	height: 100%;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 28px;
}

.button_transparent > div > span {
	background: linear-gradient(
		92.35deg,
		#b48a3d 9.32%,
		#fcecce 50.74%,
		#ccab6c 95.84%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.button._fw {
	width: 100%;
}

@keyframes button {
	0% {
		opacity: 0;
		background-image: linear-gradient(
			92.35deg,
			#b48a3d 9.32%,
			#fcecce 50.74%,
			#ccab6c 95.84%
		);
	}

	25% {
		opacity: 1;
		background-image: linear-gradient(
			152deg,
			#b48a3d 11.32%,
			#fcecce 52.74%,
			#ccab6c 93.84%
		);
	}

	50% {
		opacity: 0;
		background-image: linear-gradient(
			202deg,
			#b48a3d 13.32%,
			#fcecce 54.74%,
			#ccab6c 91.84%
		);
	}

	75% {
		opacity: 1;
		background-image: linear-gradient(
			202deg,
			#b48a3d 13.32%,
			#fcecce 54.74%,
			#ccab6c 91.84%
		);
	}

	100% {
		opacity: 0;
		background-image: linear-gradient(
			252.35deg,
			#b48a3d 15.32%,
			#fcecce 56.74%,
			#ccab6c 89.84%
		);
	}
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='number'],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.input {
	width: 100%;
	display: block;
	background: rgba(0, 0, 0, 0.14);
	border: 1px solid rgba(255, 255, 255, 0.25);
	box-sizing: border-box;
	border-radius: 14px;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
}

@supports (
	height: clamp(2.8125rem, 2.6713235294rem + 0.7058823529vw, 3.1875rem)
) {
	.input {
		height: clamp(2.8125rem, 2.6713235294rem + 0.7058823529vw, 3.1875rem);
	}
}

@supports not (
	height: clamp(2.8125rem, 2.6713235294rem + 0.7058823529vw, 3.1875rem)
) {
	.input {
		height: calc(2.8125rem + 0.375 * (100vw - 20rem) / 53.125);
	}
}

@supports (
	padding-left: clamp(0.9375rem, 0.5845588235rem + 1.7647058824vw, 1.875rem)
) {
	.input {
		padding-left: clamp(0.9375rem, 0.5845588235rem + 1.7647058824vw, 1.875rem);
	}
}

@supports not (
	padding-left: clamp(0.9375rem, 0.5845588235rem + 1.7647058824vw, 1.875rem)
) {
	.input {
		padding-left: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 53.125);
	}
}

@supports (
	padding-right: clamp(0.9375rem, 0.5845588235rem + 1.7647058824vw, 1.875rem)
) {
	.input {
		padding-right: clamp(0.9375rem, 0.5845588235rem + 1.7647058824vw, 1.875rem);
	}
}

@supports not (
	padding-right: clamp(0.9375rem, 0.5845588235rem + 1.7647058824vw, 1.875rem)
) {
	.input {
		padding-right: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 53.125);
	}
}

textarea.input {
	resize: none;
}

.checkbox {
	position: relative;
}

.checkbox:not(:last-child) {
	margin-bottom: 0.3125em;
}

.checkbox__input {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}

.checkbox__input:focus + .checkbox__label:before {
	box-shadow: 0 0 5px #b48a3d;
}

.checkbox__input:checked + .checkbox__label:before {
	background: url('../img/cabinet/checkbox.svg') no-repeat center center/15px
		8px;
}

.checkbox__label {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	position: relative;
	gap: 10px;
}

.checkbox__label:before {
	content: '';
	align-self: flex-start;
	flex: 0 0 21px;
	width: 21px;
	height: 21px;
	border: 1px solid #484848;
	border-radius: 5px;
}

.checkbox__text {
	font-size: 12px;
	line-height: 17px;
}

.options {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.options__item {
	position: relative;
	cursor: pointer;
}

.options__item:not(:last-child) {
	margin-bottom: 0.3125em;
}

.options__input {
	width: 0;
	height: 0;
	opacity: 0;
	position: absolute;
}

.options__input:focus + .options__label:before {
	box-shadow: 0 0 5px #000;
}

.options__input:checked + .options__label:after {
	transform: scale(1);
}

.options__label {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	gap: 10px;
}

.options__label:before {
	content: '';
	align-self: flex-start;
	width: 20px;
	height: 20px;
	flex: 0 0 20px;
	border-radius: 50%;
	border: 1px solid #a7a9ac;
}

.options__label:after {
	content: '';
	transition: all 0.3s ease 0s;
	transform: scale(0);
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #77243a;
	position: absolute;
	left: 5px;
	top: 5px;
}

.select {
	position: relative;
}

.select__body {
	position: relative;
}

.select__title {
	color: inherit;
	text-align: left;
	border: 1px solid #d9d9d9;
	background-color: #fff;
	cursor: pointer;
	width: 100%;
	border-radius: 4px;
}

.select__value {
	display: flex;
	align-items: center;
	height: 1.875rem;
	padding: 0 0.9375rem;
	gap: 0.625rem;
}

.select__value > * {
	flex: 1 1 auto;
}

.select__value:after {
	content: '';
	align-self: stretch;
	flex: 0 0 10px;
	transition: all 0.3s ease 0s;
	display: flex;
	justify-content: center;
	align-items: center;
}

._select-open .select__value:after {
	transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
	content: attr(data-pseudo-label);
	opacity: 0.5;
}

.select__text {
	flex: 1 1 auto;
}

.select__input {
	width: 100%;
	background-color: transparent;
	height: 100%;
}

.select__options {
	color: #000;
	position: absolute;
	top: 29px;
	border-radius: 0 0 4px 4px;
	min-width: 100%;
	left: 0;
	background-color: #fff;
	border-top: 0;
	border: 1px solid #d9d9d9;
	border-top: 0;
	padding: 10px 0px 5px 0px;
}

.select__scroll {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 200px;
}

.select__option {
	width: 100%;
	display: block;
	text-align: left;
	cursor: pointer;
	padding: 5px 15px;
	color: inherit;
}

.select__option._select-selected {
	background-color: #eee;
}

@media (any-hover: hover) {
	.select__option:hover {
		background: #d9d9d9;
	}
}

.select__row {
	display: inline-flex;
	align-items: center;
}

.select._select-open {
	z-index: 5;
}

._select-tag {
	cursor: pointer;
}

[class*='-ibg'] {
	position: relative;
}

[class*='-ibg'] img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

[class*='-ibg_contain'] img {
	object-fit: contain;
}

.gold {
	background: linear-gradient(
		92.35deg,
		#b48a3d 9.32%,
		#fcecce 50.74%,
		#ccab6c 95.84%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	text-shadow: 0px 25px 21px rgba(228, 201, 149, 0.14);
}

.green {
	color: #159300;
}

.red {
	color: #930000;
}

.title {
	text-transform: uppercase;
}

@supports (font-size: clamp(1.625rem, 0.7308823529rem + 4.4705882353vw, 4rem)) {
	.title {
		font-size: clamp(1.625rem, 0.7308823529rem + 4.4705882353vw, 4rem);
	}
}

@supports not (
	font-size: clamp(1.625rem, 0.7308823529rem + 4.4705882353vw, 4rem)
) {
	.title {
		font-size: calc(1.625rem + 2.375 * (100vw - 20rem) / 53.125);
	}
}

@supports (
	line-height: clamp(1.875rem, 0.8397058824rem + 5.1764705882vw, 4.625rem)
) {
	.title {
		line-height: clamp(1.875rem, 0.8397058824rem + 5.1764705882vw, 4.625rem);
	}
}

@supports not (
	line-height: clamp(1.875rem, 0.8397058824rem + 5.1764705882vw, 4.625rem)
) {
	.title {
		line-height: calc(1.875rem + 2.75 * (100vw - 20rem) / 53.125);
	}
}

.social ul {
	display: flex;
}

.social ul li {
	width: 32px;
	height: 30px;
	background: rgba(255, 255, 255, 0.12);
	border-radius: 4px;
	overflow: hidden;
}

.social ul li + li {
	margin-left: 9px;
}

.social ul li a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.swiper {
	overflow: hidden;
}

.swiper-wrapper {
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	display: flex;
	position: relative;
}

.swiper-vertical .swiper-wrapper {
	flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
	align-items: flex-start;
}

.swiper-initialized .swiper-slide {
	flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
	transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
	display: none !important;
}

.swiper-pagination-bullet {
	cursor: pointer;
}
