@charset "UTF-8";


@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-Black.woff2") format("woff2"), url("../fonts/Gilroy-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: MazzardH;
	font-display: swap;
	src: url("../fonts/MazzardH-Regular.woff2") format("woff2"), url("../fonts/MazzardH-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: MazzardH;
	font-display: swap;
	src: url("../fonts/MazzardH-Medium.woff2") format("woff2"), url("../fonts/MazzardH-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
	scrollbar-color: linear-gradient(90.01deg, #c29c58 17.1%, #fcebcd 44.94%, #c29c58 74.85%) #484848;
	scrollbar-width: auto;
}

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: transparent;
	border: 1px solid #484848;
}

*::-webkit-scrollbar-thumb {
	background: linear-gradient(90.01deg, #c29c58 17.1%, #fcebcd 44.94%, #c29c58 74.85%);
	border-radius: 9px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	color: #fff;
	line-height: 1;
	font-family: "Gilroy";
	font-size: 1.125rem;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
	font-family: "Gilroy";
	font-size: inherit;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}

a {
	color: inherit;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	background: #000;
}

.lock body {
	overflow: hidden;
	touch-action: none;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.wrapper>main {
	flex: 1 1 auto;
}

.wrapper>* {
	min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
	max-width: 71.25rem;
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 0.9375rem;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 28px;
	white-space: nowrap;
	font-family: MazzardH;
	text-transform: uppercase;
	/* .button_transparent */
}

.button_gold {
	color: #202020;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	background: linear-gradient(92.35deg, #b48a3d 9.32%, #fcecce 50.74%, #ccab6c 95.84%);
	box-shadow: 0px 25px 21px rgba(228, 201, 149, 0.14);
	border-radius: 12px;
}

@supports (height: clamp(2.8125rem, 2.6713235294rem + 0.7058823529vw, 3.1875rem)) {
	.button_gold {
		height: clamp(2.8125rem, 2.6713235294rem + 0.7058823529vw, 3.1875rem);
	}
}

@supports not (height: clamp(2.8125rem, 2.6713235294rem + 0.7058823529vw, 3.1875rem)) {
	.button_gold {
		height: calc(2.8125rem + 0.375 * (100vw - 20rem) / 53.125);
	}
}

.button_transparent {
	background: linear-gradient(92.35deg, #b48a3d 9.32%, #fcecce 50.74%, #ccab6c 95.84%);
	border-radius: 12px;
	padding: 1px;
	height: 51px;
	width: max-content;
}

.button_transparent>div {
	border-radius: 12px;
	width: 100%;
	height: 100%;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 28px;
}

.button_transparent>div>span {
	background: linear-gradient(92.35deg, #b48a3d 9.32%, #fcecce 50.74%, #ccab6c 95.84%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.button._fw {
	width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	width: 100%;
	display: block;
}

textarea.input {
	resize: none;
}

.checkbox {
	position: relative;
}

.checkbox:not(:last-child) {
	margin-bottom: 0.3125em;
}

.checkbox__input {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}

.checkbox__input:focus+.checkbox__label:before {
	box-shadow: 0 0 5px #B48A3D;
}

.checkbox__input:checked+.checkbox__label:before {
	background: url("../img/cabinet/checkbox.svg") no-repeat center center/15px 8px;
}

.checkbox__label {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	position: relative;
	gap: 10px;
}

.checkbox__label:before {
	content: "";
	align-self: flex-start;
	flex: 0 0 21px;
	width: 21px;
	height: 21px;
	border: 1px solid #484848;
	border-radius: 5px;
}

.checkbox__text {
	font-size: 12px;
	line-height: 17px;
}

.options {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.options__item {
	position: relative;
	cursor: pointer;
}

.options__item:not(:last-child) {
	margin-bottom: 0.3125em;
}

.options__input {
	width: 0;
	height: 0;
	opacity: 0;
	position: absolute;
}

.options__input:focus+.options__label:before {
	box-shadow: 0 0 5px #000;
}

.options__input:checked+.options__label:after {
	transform: scale(1);
}

.options__label {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	gap: 10px;
}

.options__label:before {
	content: "";
	align-self: flex-start;
	width: 20px;
	height: 20px;
	flex: 0 0 20px;
	border-radius: 50%;
	border: 1px solid #a7a9ac;
}

.options__label:after {
	content: "";
	transition: all 0.3s ease 0s;
	transform: scale(0);
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #77243a;
	position: absolute;
	left: 5px;
	top: 5px;
}



[class*=-ibg] {
	position: relative;
}

[class*=-ibg] img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

[class*=-ibg_contain] img {
	object-fit: contain;
}

.gold {
	background: linear-gradient(92.35deg, #b48a3d 9.32%, #fcecce 50.74%, #ccab6c 95.84%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	text-shadow: 0px 25px 21px rgba(228, 201, 149, 0.14);
}

.green {
	color: #159300;
}

.red {
	color: #930000;
}

@supports (font-size: clamp(1.625rem, 0.7308823529rem + 4.4705882353vw, 4rem)) {
	.title {
		font-size: clamp(1.625rem, 0.7308823529rem + 4.4705882353vw, 4rem);
	}
}

@supports not (font-size: clamp(1.625rem, 0.7308823529rem + 4.4705882353vw, 4rem)) {
	.title {
		font-size: calc(1.625rem + 2.375 * (100vw - 20rem) / 53.125);
	}
}

@supports (line-height: clamp(1.875rem, 0.8397058824rem + 5.1764705882vw, 4.625rem)) {
	.title {
		line-height: clamp(1.875rem, 0.8397058824rem + 5.1764705882vw, 4.625rem);
	}
}

@supports not (line-height: clamp(1.875rem, 0.8397058824rem + 5.1764705882vw, 4.625rem)) {
	.title {
		line-height: calc(1.875rem + 2.75 * (100vw - 20rem) / 53.125);
	}
}

.social ul {
	display: flex;
}

.social ul li {
	width: 32px;
	height: 30px;
	background: rgba(255, 255, 255, 0.12);
	border-radius: 4px;
	overflow: hidden;
}

.social ul li+li {
	margin-left: 9px;
}

.social ul li a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.grey-block {
	background: linear-gradient(118.17deg, rgba(41, 41, 41, 0.6) 19.54%, rgba(41, 41, 41, 0.372) 87.61%);
	box-shadow: 0px 4px 73px #000000;
	border-radius: 10px;
}

.grey-block-dark {
	background: linear-gradient(118.17deg, rgba(41, 41, 41, 0.6) 19.54%, rgba(41, 41, 41, 0.306) 87.61%);
	box-shadow: 0px 4px 73px #000000;
	border-radius: 10px;
}

.grey-block-dark-414 {
	background: linear-gradient(116.66deg, rgba(41, 41, 41, 0.6) 19.73%, rgba(41, 41, 41, 0.414) 81.89%);
	box-shadow: 0px 4px 73px #000000;
	border-radius: 10px;
}

.cabinet__title {
	font-size: 20px;
	line-height: 23px;
	text-transform: uppercase;
}

.cabinet__title>*.gold {
	font-weight: 300;
}

.cabinet__title_36 {
	font-size: 36px;
	line-height: 42px;
	background: linear-gradient(92.35deg, #b48a3d 9.32%, #fcecce 50.74%, #ccab6c 95.84%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}


.cabinet {
	min-width: 1660px;
	background-image: url("../img/cabinet/mountains-bg.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 100% 97%;
}

.cabinet__wrapper {
	width: 1660px;
	padding: 0 15px;
	display: grid;
	grid-template: 1fr/210px 1fr;
	column-gap: 33px;
	margin: 0 auto;
	padding-top: 20px;
}

.reflvl__top {
	display: flex;
	align-items: center;
}

.reflvl__top li span {
	font-size: 20px;
	line-height: 23px;
	text-transform: uppercase;
}

.reflvl__top li span:nth-child(2) {
	margin-left: 5px;
	font-weight: 300;
	text-shadow: 0px 25px 21px rgba(228, 201, 149, 0.14);
}

.reflvl__top li+li {
	margin-left: 42px;
}

.reflvl__wrapper {
	padding: 33px 36px;
}

.cabinet__logo {
	margin: 100px auto 0 auto;
	width: 201.62px;
	height: 66.67px;
}

.cabinet__logo img {
	width: 100%;
	height: 100%;
}



.swiper {
	overflow: hidden;
}

.swiper-wrapper {
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	display: flex;
	position: relative;
}

.swiper-vertical .swiper-wrapper {
	flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
	align-items: flex-start;
}

.swiper-initialized .swiper-slide {
	flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
	transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
	display: none !important;
}